<div class="bg">
    <div class="flex middle">
      <div class="outer-box">
        <div class="inner-box">
          <form [formGroup]="form" #changePasswordForm>
            <div class="form-input">
              <label>
                <mat-icon style="max-width: 13px;" svgIcon="password"></mat-icon> Enter Current Password
              </label>
              <input type="password" formControlName="old_password"  required>
              <div class="alert error" *ngIf="form.controls.old_password.touched && form.controls.old_password.hasError('required')">
                Current password is required.</div>
            </div>
  
            <div class="form-input">
              <label>
                <mat-icon style="max-width: 11px;" svgIcon="password"></mat-icon> Enter New Password
              </label>
              <input type="password" formControlName="new_password" required>
              <div class="alert error"
                *ngIf="form.controls.new_password.touched && form.controls.new_password.hasError('required')">
                New password is required.</div>
            </div>

            <div class="form-input">
              <label>
                <mat-icon style="max-width: 11px;" svgIcon="password"></mat-icon> Confirm New Password
              </label>
              <input type="password" formControlName="confirm_new_password" required>
              <div class="alert error"
                *ngIf="form.controls.confirm_new_password.touched && form.controls.confirm_new_password.hasError('required')">
                Confirm new password is required.</div>
            </div>
  
            <div class="button text-center">
              <button type="submit" class="btn-white btn-flip" (click)="ChangePassword(form.value)">
                <span class="text"><span>
                    <mat-icon svgIcon="user-login"></mat-icon>Submit!
                  </span></span>
                <span class="flip black"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
  