<!-- <div id="pdfData"> -->
<div class="initialWarp" >
  <div class="row justify-content-between">
    <div class="col-6">
      <table style="text-align: center;">
        <thead style="background-color: #DAEEF3;">
          <tr>
            <td class="w-50">Name</td>
            <td class="w-50">
              Program Goals
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-50">&#160;</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50" rowspan="4">&#160;</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">&#160;</td>
          </tr>
        </tbody>
      </table>
      <br>

      <div class="r4" style="margin-bottom: 5px;">
        <table style="text-align: center;">
          <tr>
            <td class=" w-auto border-right-0">
              <h5 class="rotted mb-0  ">R1</h5>
            </td>
            <td class="p-0 border-left-0 border-bottom-0">
              <table class="border-0">
                <thead style="background-color: #DAEEF3;">
                  <tr>
                    <td class="tr0 border-top-0">
                      Foam Roller/Ball
                    </td>
                    <td class="tr0 border-top-0">
                      Frequency
                    </td>
                    <td class="tr0 border-top-0">
                      Time
                    </td>
                  </tr>
                </thead>
                <tbody>


                  <tr>
                    <td class="   ">
                      Quads
                    </td>
                    <td class="   ">
                      Daily
                    </td>
                    <td class="   ">
                      <span>30-60s</span>
                    </td>
                  </tr>

                  <tr>
                    <td class="   ">
                      IT Band
                    </td>
                    <td class="   ">
                      Daily
                    </td>
                    <td class="   ">

                      <span>30-60s</span>

                    </td>
                  </tr>

                  <tr>
                    <td class="  ">
                      Baseball/Tennis Ball - Adductors
                    </td>
                    <td class="  ">
                      Daily
                    </td>
                    <td class="  ">

                      <span>30-60s</span>

                    </td>
                  </tr>

                  <tr>
                    <td class="  ">
                      &nbsp;
                    </td>
                    <td class="  ">
                      Daily
                    </td>
                    <td class="  ">

                      <span>30-60s</span>

                    </td>
                  </tr>

                  <tr>
                    <td class="  ">
                      &nbsp;
                    </td>
                    <td class="  ">
                      Daily
                    </td>
                    <td class="  ">

                      <span>30-60s</span>

                    </td>
                  </tr>

                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>



    </div>

    <div class="col-5">
      <table style="text-align: center;">
        <thead style="background-color: #DAEEF3;">
          <tr>
            <td class="w-50">Check-in Scavenger Hunt</td>
            <td class="w-50">
              Done
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-50">Selfie with Ollie</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Selfie on a bike/Elliptical (Coat Rack)</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Selfie with a Friend you brought to BEST</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Palm of Protein Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Deadlift Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">2 Fists of Veggies Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Sled Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Cupped Handful of Carbs Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Selfie Saying no to Sugar</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Core Exercise Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">COMPLETE Rest Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>
          <tr>
            <td class="w-50">Playing/working Outside Check-in</td>
            <td class="w-50">&#160;</td>
          </tr>

        </tbody>
      </table>
    </div>


    <div class="col-12">
      <div class="r4" style="margin-bottom: 5px;">
        <table style="text-align: center;">
          <tr>
            <td class=" w-auto border-right-0">
              <h5 class="rotted mb-0  ">R2</h5>
            </td>
            <td class="p-0 border-left-0 border-bottom-0">
              <table class="border-0">
                <thead style="background-color: #DAEEF3;">
                  <tr>
                    <td class="tr0 border-top-0">
                      Exercises
                    </td>
                    <td class="tr0 border-top-0">
                      Sets and Reps
                    </td>
                    <td class="tr0 border-top-0">
                      Comments
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="   ">
                      Decline Quadruped Breathing
                    </td>
                    <td class="   ">
                      2x5 breaths
                    </td>
                    <td class="   ">
                      Narrow rib cage angles do this one
                    </td>
                  </tr>

                  <tr>
                    <td class="   ">
                      Low Oblique Sit Plank
                    </td>
                    <td class="   ">
                      2x5 breaths
                    </td>
                    <td class="   ">
                      Wide ribcage angles do this one
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-12">
      <div class="r4" style="margin-bottom: 5px;">
        <table style="text-align: center;">
          <tr>
            <td class=" w-auto border-right-0">
              <h5 class="rotted mb-0  ">R3</h5>
            </td>
            <td class="p-0 border-left-0 border-bottom-0">
              <table class="border-0">
                <thead style="background-color: #DAEEF3;">
                  <tr>
                    <td class="tr0 border-top-0">
                      Exercises
                    </td>
                    <td class="tr0 border-top-0">
                      Sets and Reps
                    </td>
                    <td class="tr0 border-top-0">
                      Comments
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of [0,1,2,3,4,5,6]; let i = index">
                    <td class="   ">
                      Leg Lowering w/ Rotation
                    </td>
                    <td class="   ">
                      {{i+1}}x8/side
                    </td>
                    <td class="   ">
                      <a
                        href="https://www.youtube.com/watch?v=xrZCVTDirBs">https://www.youtube.com/watch?v=xrZCVTDirBs</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- <hr> -->
<div class="html2pdf__page-break"></div>
<!-- R4 -->
<div class="r4" style="margin-bottom: 5px;">
  <h5 class="mb-0 font-bold">Day 1</h5>
  <table>
    <tr>
      <td class=" w-auto">
        <h5 class="rotted mb-0  ">R4</h5>
      </td>
      <td class="p-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="border-left-0 border-top-0 w-auto">&#160;</td>
              <td class="border-top-0 w-auto">&#160;</td>
              <td class="border-top-0" align="center">Exercise</td>
              <td class="border-top-0" align="center">Rest</td>
              <td class="border-top-0 white-space" align="center">Week 1</td>
              <td class="border-top-0 white-space" align="center">Week 2</td>
              <td class="border-top-0 white-space" align="center">Week 3</td>
              <td class="border-top-0 white-space" align="center">Week 4</td>
              <td class="border-top-0 white-space"><span style="width: 150px; display: block;"
                  align="center">Comments</span></td>
            </tr>
          </thead>



          <ng-container *ngFor="let item of [0,1,2]; let i = index">
            <tr>
              <td class="border-left-0 w-auto" rowspan="2">
                A{{i+1}}
              </td>
              <td class="w-auto">
                L1
              </td>
              <td>
                Standing MB Punch
              </td>
              <td align="center" rowspan="2">
                30s
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x8
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x8
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x10
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x12
              </td>

            </tr>
            <tr>

              <td class="w-auto">
                L2
              </td>
              <td>
                2-Point MB Punch
              </td>

              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>

            </tr>
          </ng-container>

        </table>
      </td>
    </tr>
  </table>
</div>



<!-- R5 -->
<div class="r5">
  <table>
    <tr>
      <td class=" w-auto">
        <h5 class="rotted mb-0  ">R5</h5>
      </td>
      <td class="p-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="border-left-0 border-top-0 w-auto">&#160;</td>
              <td class="border-top-0 w-auto">&#160;</td>
              <td class="border-top-0" align="center">Exercise</td>
              <td class="border-top-0" align="center">Tempo</td>
              <td class="border-top-0" align="center">Rest</td>
              <td class="border-top-0 white-space" align="center">Week 1</td>
              <td class="border-top-0 white-space" align="center">Week 2</td>
              <td class="border-top-0 white-space" align="center">Week 3</td>
              <td class="border-top-0 white-space" align="center">Week 4</td>
              <td class="border-top-0 white-space"><span style="width: 150px; display: block;"
                  align="center">Comments</span></td>
            </tr>
          </thead>



          <ng-container *ngFor="let item of [0,1,2,3,4,5]; let i = index">
            <tr>
              <td class="border-left-0 w-auto" rowspan="6">
                A{{i+1}}
              </td>
              <td class="w-auto" rowspan="2">
                L1
              </td>
              <td rowspan="2">
                2-KB Deadlift
              </td>
              <td align="center" rowspan="6">
                Dyn
              </td>
              <td align="center" rowspan="6">
                0-30s
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x8
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x8
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x10
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x12
              </td>

            </tr>
            <tr>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
            </tr>
            <tr>

              <td class="w-auto" rowspan="2">
                L2
              </td>
              <td rowspan="2">
                2-KB Deadlift + Row
              </td>

              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>

            </tr>
            <tr>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
            </tr>


            <tr>
              <td class="w-auto" rowspan="2">
                L3
              </td>
              <td rowspan="2">
                &#160;
              </td>

              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
            </tr>


            <tr>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
            </tr>
          </ng-container>

        </table>
      </td>
    </tr>
  </table>
</div>
<!-- </div> -->




<hr>

<h1>Cal Aulizia - Program 4 - IB2 </h1>

<button  data-html2canvas-ignore="true" class="btn-teal btn-flip" (click)="generateAndSavePDF()" style="background: red;">Save</button>

<div id="pdfData">
<div class="" style="margin-bottom: 5px;">
  <table style="text-align: center;" class="table-width-auto">
    <thead style="background-color: #DAEEF3;">
      <tr>
        <td>Name</td>
        <td>
          Program Goals
        </td>
        <td>
          Program Goals
        </td>
        <td class="">
          Coaches Notes:
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cal Aulizia</td>
        <td>Get strong</td>
        <td>&#160;</td>
        <td>&#160;</td>
      </tr>
      <tr>
        <td rowspan="3">&#160;</td>
        <td>Increase Jumping capacity</td>
        <td>&#160;</td>
        <td>&#160;</td>
      </tr>
      <tr>
        <td>Build Upper Body Muscle Mass</td>
        <td>&#160;</td>
        <td>&#160;</td>
      </tr>
      <tr>
        <td>&#160;</td>
        <td>&#160;</td>
        <td>&#160;</td>
      </tr>



    </tbody>
  </table>
</div>

<div class=" " style="margin-bottom: 5px;">
  <table style="text-align: center;">
    <tr>
      <td class=" w-auto border-right-0">
        <h5 class="rotted mb-0  ">R1</h5>
      </td>
      <td class="p-0 border-left-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="tr0 border-top-0  ">
                Foam Roller/Ball
              </td>
              <td class="tr0 border-top-0">
                Frequency
              </td>
              <td class="tr0 border-top-0">
                Time
              </td>
              <td class="tr0 border-top-0">
                <div style="width: 300px;">Comments</div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="   ">
                Roller - Quads
              </td>
              <td class="   ">
                Daily
              </td>
              <td class="   ">
                30-60s
              </td>
              <td rowspan="4">
              </td>
            </tr>
            <tr>
              <td class="   ">
                Roller - IT Band
              </td>
              <td class="   ">
                Daily
              </td>
              <td class="   ">
                30-60s
              </td>
            </tr>
            <tr>
              <td class="   ">
                Baseball/Tennis Ball - Adductors
              </td>
              <td class="   ">
                Daily
              </td>
              <td class="   ">
                30-60s
              </td>
            </tr>
            <tr>
              <td class="   ">
                Baseball/Tennis Ball - RTC
              </td>
              <td class="   ">
                Daily
              </td>
              <td class="   ">
                30-60s
              </td>
            </tr>
            <tr>
              <td class="   ">
                &#160;
              </td>
              <td class="   ">
                Daily
              </td>
              <td class="   ">
                30-60s
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class=" " style="margin-bottom: 5px;">
  <table style="text-align: center;" class="table-width-auto">
    <tr>
      <td class="  border-right-0" style="width: 34px;">
        <h5 class="rotted mb-0  ">R2</h5>
      </td>
      <td class="p-0 border-left-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="tr0 border-top-0  ">
                Exercises
              </td>
              <td class="tr0 border-top-0">
                Sets and Reps
              </td>
              <td class="tr0 border-top-0">
                Comments
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="   ">
                Decline Quadruped Breathing
              </td>
              <td class="   ">
                2x5 breaths
              </td>
              <td class="   ">
                Narrow Rib Cage Angles do this one.
              </td>

            </tr>
            <tr>
              <td class="   ">
                Low Oblique Sit Plank
              </td>
              <td class="   ">
                2x5 breaths
              </td>
              <td class="   ">
                Wide Rib Cage Angles do this one.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class=" " style="margin-bottom: 5px;">
  <table style="text-align: center;" class="table-width-auto">
    <tr>
      <td class="  border-right-0" style="width: 34px;">
        <h5 class="rotted mb-0  ">R3</h5>
      </td>
      <td class="p-0 border-left-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="tr0 border-top-0  ">
                Exercises
              </td>
              <td class="tr0 border-top-0">
                Sets and Reps
              </td>
              <td class="tr0 border-top-0">
                Comments
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="   ">
                Leg Lowering - RB Assisted
              </td>
              <td class="   ">
                1x8/side
              </td>
              <td class="   ">
                &#160;
              </td>

            </tr>
            <tr>
              <td class="   ">
                Wall Hip Flexor Mob.
              </td>
              <td class="   ">
                1x8/side
              </td>
              <td class="   ">
                &#160;
              </td>
            </tr>
            <tr>
              <td class="   ">
                All 4s Twist
              </td>
              <td class="   ">
                1x8/side
              </td>
              <td class="   ">
                &#160;
              </td>
            </tr>
            <tr>
              <td class="   ">
                Hip Flexed Hip Rocking
              </td>
              <td class="   ">
                1x8/side
              </td>
              <td class="   ">
                &#160;
              </td>
            </tr>
            <tr>
              <td class="   ">
                Perfect Stretch
              </td>
              <td class="   ">
                1x8/side
              </td>
              <td class="   ">
                &#160;
              </td>
            </tr>
            <tr>
              <td class="   ">
                2-KB Front Squat
              </td>
              <td class="   ">
                2x8
              </td>
              <td class="   ">
                <b>Start off with an easy weight and increase for 2nd set</b>
              </td>
            </tr>
            <tr>
              <td class="   ">
                2-KB Deadlift
              </td>
              <td class="   ">
                2x8
              </td>
              <td class="   ">
                <b>Start off with an easy weight and increase for 2nd set</b>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>






<hr>

<div class="html2pdf__page-break"></div>
<div class="r4" style="margin-bottom: 5px;">
  <h5 class="mb-0 font-bold">Day 1</h5>
  <table>
    <tr>
      <td class=" w-auto">
        <h5 class="rotted mb-0  ">R4</h5>
      </td>
      <td class="p-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="border-left-0 border-top-0 w-auto">&#160;</td>
              <td class="border-top-0" align="center">Exercise</td>
              <td class="border-top-0" align="center">Rest</td>
              <td class="border-top-0 white-space" align="center">Week 1</td>
              <td class="border-top-0 white-space" align="center">Week 2</td>
              <td class="border-top-0 white-space" align="center">Week 3</td>
              <td class="border-top-0 white-space" align="center">Week 4</td>
              <td class="border-top-0 white-space"><span style="width: 150px; display: block;"
                  align="center">Comments</span></td>
            </tr>
          </thead>



          <ng-container *ngFor="let item of [0,1,2]; let i = index">
            <tr>
              <td class="border-left-0 w-auto">
                A{{i+1}}
              </td>

              <td>
                Power DB Vertical Jump + Power DB Box Jump
              </td>
              <td>
                60-90s
              </td>

              <td align="center" bgcolor="#92CDDC">
                3x3
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x3
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x4
              </td>
              <td align="center" bgcolor="#92CDDC">
                3x4
              </td>
              <td>
                &#160;
              </td>

            </tr>

          </ng-container>

        </table>
      </td>
    </tr>
  </table>
</div>



<div class="r5" style="margin-bottom: 5px;">
  <table>
    <tr>
      <td class=" w-auto">
        <h5 class="rotted mb-0  ">R5</h5>
      </td>
      <td class="p-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="border-left-0 border-top-0 w-auto">&#160;</td>
              <td class="border-top-0" align="center">Exercise</td>
              <td class="border-top-0" align="center">Tempo</td>
              <td class="border-top-0" align="center">Rest</td>
              <td class="border-top-0 white-space" align="center">Week 1</td>
              <td class="border-top-0 white-space" align="center">Week 2</td>
              <td class="border-top-0 white-space" align="center">Week 3</td>
              <td class="border-top-0 white-space" align="center">Week 4</td>
              <td class="border-top-0 white-space"><span style="width: 150px; display: block;"
                  align="center">Comments</span></td>
            </tr>
          </thead>



          <ng-container *ngFor="let item of [0,1,2,3,4,5]; let i = index">
            <tr>
              <td class="border-left-0 w-auto" rowspan="5">
                A{{i+1}}
              </td>
              <td class="w-auto" rowspan="5">
                Barbell Deadlift
              </td>

              <td align="center" rowspan="5">
                Dyn
              </td>
              <td align="center" rowspan="5">
                60s
              </td>
              <td align="center" bgcolor="#92CDDC">
                2-3x5
              </td>
              <td align="center" bgcolor="#92CDDC">
                3-4x5
              </td>
              <td align="center" bgcolor="#92CDDC">
                3-4x4
              </td>
              <td align="center" bgcolor="#92CDDC">
                2-3x4
              </td>
              <td rowspan="5" align="center">
                RPE - 9 or VBT - .4-.35
              </td>

            </tr>

            <tr *ngFor="let item of [0,1,2,4]">
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>
              <td>
                &#160;
              </td>

            </tr>



          </ng-container>

        </table>
      </td>
    </tr>
  </table>
</div>




<div class="r6" style="margin-bottom: 5px;">
  <table class="">
    <tr>
      <td class=" w-auto border-right-0">
        <h5 class="rotted mb-0  ">R6</h5>
      </td>
      <td class="p-0 border-bottom-0">
        <table class="border-0">
          <thead style="background-color: #DAEEF3;">
            <tr>
              <td class="border-top-0 w-50" align="center">Exercise</td>
              <td class="border-top-0 w-auto" align="center">Work</td>
              <td class="border-top-0 w-auto" align="center">Rest</td>
              <td class="border-top-0 w-auto" align="center">Week 1</td>
              <td class="border-top-0 w-auto" align="center">Week 2</td>
              <td class="border-top-0 w-auto" align="center">Week 3</td>
              <td class="border-top-0 w-auto" align="center">Week 4</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="w-50">&#160;</td>
              <td class="w-auto">&#160;</td>
              <td class="w-auto">&#160;</td>

              <td bgcolor="#92CDDC" class="w-auto">&#160;</td>
              <td bgcolor="#92CDDC" class="w-auto">&#160;</td>
              <td bgcolor="#92CDDC" class="w-auto">&#160;</td>
              <td bgcolor="#92CDDC" class="w-auto">&#160;</td>
            </tr>
            <tr>
              <td class="  w-50" style="background-color: #DAEEF3; padding: 30px 15px; text-align: center;">
                Comments
              </td>
              <td colspan="6">

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>
</div>
