<div class="bg">
    <div class="flex middle">
      <div class="outer-box">
        <div class="inner-box">
          <form [formGroup]="form" #ForgotPasswordform>
            <div class="form-input">
              <label>
                <mat-icon style="max-width: 13px;" svgIcon="login-user"></mat-icon> Enter Your Email
              </label>
              <input type="text" formControlName="email" required>
              <div class="alert error" *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                Email address is required.</div>
            </div>
  
            <div class="button text-center">
              <button type="submit" class="btn-white btn-flip" (click)="forgotPassword(form.value)">
                <span class="text"><span>
                    <mat-icon svgIcon="user-login"></mat-icon>Submit!
                  </span></span>
                <span class="flip black"></span>
              </button>
            </div>
            <div>
              <a [routerLink]="['/login']" routerLinkActive="active">Back to Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
  