<div class="footer" #footer>
  <div class="footer-top">
    <div class="flex justify">
      <div class="width-23">
        <div class="logo flex middle">
          <a>
            <img src="./assets/images/fter_logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="width-23">
        <div class="menu flex middle center">
          <ul>
            <li>
              <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li>
              <a [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
            </li>
            <li>
              <a>Training</a>
            </li>
            <li>
              <a [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
            </li>
            <li>
              <a [routerLink]="['/best-inner-circle']" routerLinkActive="active">BEST Inner Circle</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>
      <div class="width-23 flex center">
        <div class="contact-info">
          <h3>Contact Us</h3>
          <ul>
            <li class="flex middles">
              <div class="icon">
                <mat-icon svgIcon="pin"></mat-icon>
              </div>
              <div class="text">
                4248 North River Rd. NE <br>
                Warren, Ohio
              </div>
            </li>
            <li class="flex middle">
              <div class="icon">
                <mat-icon svgIcon="plane"></mat-icon>
              </div>
              <div class="text">
                <a href="MailTo:info@bylerelitestrength.com">info@bylerelitestrength.com</a>
              </div>
            </li>
            <li class="flex middle">
              <div class="icon">
                <mat-icon svgIcon="phone"></mat-icon>
              </div>
              <div class="text">
                <a href="tel:3309890022">330-989-0022</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>
      <div class="width-23">
        <div class="flex center">
          <div class="openInfo">
            <h3>Hours</h3>
            <ul>
              <li class="flex middle">
                <span>MWF:</span>
                <strong>5:30a to 10a</strong>
              </li>
              <li class="flex middle">
                <span>MWF:</span>
                <strong>5:30a to 10a</strong>
              </li>
              <li class="flex middle">
                <span>S:</span>
                <strong>8:30a to 12p</strong>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p>Copyright &copy; 2020 <a>BEST</a>. All rights reserved.</p>
  </div>
</div>
